services: 
  backend:
    build:
      context: ./Back
      dockerfile: Dockerfile
    container_name: syncadia_back
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://164.81.120.77:5432/syncadia
      SPRING_DATASOURCE_USERNAME: syncadia_user
      SPRING_DATASOURCE_PASSWORD: syncadia2026
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./Front
      dockerfile: Dockerfile
    container_name: syncadia_front
    depends_on:
      - backend
    ports:
      - "8081:80"
    environment:
      - VITE_API_URL=http://backend:8080