html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.spb {
    justify-content: space-between;
}

.spa {
    justify-content: space-around;
}

.spe {
    justify-content: space-evenly;
}

.btn1 {
    width: 10vw;
    height: fit-content;
    border-radius: 1vw;
    border-width: 0.2vw;
    margin: 0 0;
    padding: 0.4vw 0;
    cursor: pointer;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2C2C3B;
}

.btn1:active {
    background-color: #8B8EA7;
    color: #000000;
}

.return_arrow {
    display: flex;
    align-items: center;
}

.return_arrow>p {
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    margin-left: 1.5vw;
    cursor: pointer;
}

.back_arrow {
    font-size: 2vw;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/* -- CSS forms MCCC -- */
.background_form_mccc {
    height: auto;
    background-color: rgb(61, 67, 117);
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    padding-bottom: 1vw;
}

.form {
    padding: 0 1vw;
    overflow: hidden;
}

.form::-webkit-scrollbar {
    width: 12px;
}

.form::-webkit-scrollbar-track {
    margin: 1em;
    background: rgb(42, 45, 86);
    box-shadow: inset 0 0 5px rgb(24, 26, 50);
    border-radius: 10px;
}

.form::-webkit-scrollbar-thumb {
    background: rgb(254, 254, 254);
    border-radius: 10px;
}

.header_form_mccc {
    background-color: rgb(44, 49, 88);
    height: auto;
    border-radius: 10px;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-weight: lighter;
    font-size: 2.1vw;
    margin: 0;
}

.dark_bar {
    color: white;
    height: auto;
    border-radius: 10px;
    margin: 1vw 0 0 0;
    padding: 1vw;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark_bar>p {
    margin: 0vw;
    font-weight: lighter;
    font-size: 1.05vw;
}

.button_more {
    border: 2px solid white;
    background-color: rgb(32, 32, 32);
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.button_more:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(1.1);
}

.panel_form_mccc {
    width: 90%;
    justify-self: center;
    padding: 0 18px;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    margin-top: 0;
    padding-top: 0.1vw;
}

.panel_form_mccc>p {
    margin-top: 0;
    padding-top: 1vw;
}

.accordion {
    margin: 0vw;
    font-weight: lighter;
    font-size: 1.05vw;
}

.accordion {
    cursor: pointer;
    position: relative;
}

.accordion::after {
    content: '^';
    position: absolute;
    right: 1vw;
    transition: transform 0.3s ease;
    font-size: 0.9vw;
}

.accordion.active::after {
    transform: rotate(180deg);
}