body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 8vw 0 3vw 0;
}

.container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.spb {
    justify-content: space-between;
}

.spa {
    justify-content: space-around;
}

.spe {
    justify-content: space-evenly;
}

.btn1 {
    width: 10vw;
    height: fit-content;
    border-radius: 1vw;
    border-width: 0.2vw;
    margin: 0 0;
    padding: 0.4vw 0;
    cursor: pointer;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2C2C3B;
}

.btn1:active {
    background-color: #8B8EA7;
    color: #000000;
}
